Django==1.6.5
Pillow==2.5.0
South==1.0
Unidecode==0.04.16
argparse==1.2.1
beautifulsoup4==4.3.2
dj-database-url==0.3.0
dj-static==0.0.5
django-appconf==0.6
django-compressor==1.4
django-libsass==0.2
django-modelcluster==0.3
django-taggit==0.11.2
django-toolbelt==0.0.1
django-treebeard==2.0
gunicorn==19.0.0
libsass==0.5.0
lxml==3.3.5
psycopg2==2.5.2
pystache==0.5.4
requests==2.3.0
six==1.7.3
static==1.0.2
unicodecsv==0.9.4
-e git://github.com/torchbox/wagtail.git@e2040e8842721d32a3eb122933a4cf60199a4a52#egg=wagtail-master
wsgiref==0.1.2
